.interactionTabContainer {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  gap: 150px;
}

.interaction {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 25px;
    height: 25px;
  }
  cursor: pointer;
  transition-duration: 500ms;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.hasLikedInteraction {
  background-color: rgba(202, 88, 107, 0.644);
}

.hasSavedInteraction {
  background-color: rgba(63, 111, 216, 0.411);
}

.hasntSavedInteraction:hover {
  background-color: rgba(63, 111, 216, 0.411);
}

.hasntLikedInteraction:hover {
  background-color: rgba(202, 88, 107, 0.644);
}
.shareInteraction:hover {
  background-color: rgba(78, 226, 177, 0.425);
}
.savedInteraction:hover {
  background-color: rgba(63, 111, 216, 0.411);
}
