.foundGame {
  display: flex;
  border-bottom: 1px solid;
  padding: 15px;
  gap: 20px;
  color: rgb(211, 210, 210);
  cursor: pointer;
  scrollbar-gutter: stable;
  height: 100%px;
  .gameDetail {
    display: flex;
    flex-direction: column;
  }

  img {
    border-radius: 10px;
    width: 264px;
    height: 352px;
  }
}
