.followingContentContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: rgba(46, 45, 45, 0.795);
  overflow: scroll;
  overflow-x: hidden;
  color: rgb(211, 210, 210);

  h1 {
    padding: 20px;
  }
}
